@media screen and (width < 1100px) {
  html {
    font-size: 59%;
  }
  header {
    & .search-container {
      & input {
        &::placeholder {
          font-size: 1.8rem;
        }
      }
    }
  }
}

@media screen and (width < 968px) {
  html {
    font-size: 56.6%;
  }
  .img-slider {
    & .slider {
      & img {
        height: 250px;
        border-radius: 1rem;
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        -ms-border-radius: 1rem;
        -o-border-radius: 1rem;
      }
    }
  }
}
@media screen and (width < 898px) {
  header {
    & .nav-container {
      & .flipkart-seller-container {
        display: none;
      }
    }
  }
}

@media screen and (width < 698px) {
  header {
    & .search-container {
      display: none;
    }
  }

  .search-responsive-container {
    display: flex;
  }
  .Category-container {
    & .container {
      gap: 4rem;
    }
  }
  .offer-Container {
    & img {
      width: 100%;
    }
  }
  .bestselling {
    & .head h2 {
      font-size: 2.4rem;
    }
    & .bestselling-products {
      & img {
        height: 155px;
      }
    }
  }
  .Offers-products {
    & .offer-products {
      & img {
        height: 186px;
      }
    }
  }
}

@media screen and (width < 538px) {
  html {
    font-size: 51.5%;
  }
  .Offers-products {
    & .head h2 {
      font-size: 2.2rem;
    }
    & .head {
      padding: 1.6rem;
    }
    & .offer-products {
      & img {
        height: 146px;
      }
    }
  }
  .login-hover-dropDown {
    right: 10%;
    width: 80%;
  }
  .Category-container {
    & .container {
      gap: 3rem;
    }
  }
  .bestselling {
    padding: 0.6;

    & .head {
      padding: 1.6rem;

      & h2 {
        font-size: 2.3rem;
      }
    }

    & .bestselling-products {
      gap: 2rem;
      & img {
        height: 130px;
      }
    }
  }
}

@media screen and (width < 358px) {
  header {
    & .logo-container {
      margin-left: -5.8rem;

      & img {
        width: 130px;
        height: 40px;
      }
    }
  }
}
