* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 62.5%;
}
body {
  width: 100%;
  min-height: 100vh;
  background: #f1f2f4;
}

/***** Nav Section *****/

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  cursor: pointer;
  padding: 1% 3%;
  box-shadow: rgba(149, 157, 165, 0.096) 0px 8px 24px;
  background: #ffffff;
  & .logo-container {
    margin-left: -5rem;
  }

  & .menu {
    display: none;
    padding: 0 1rem;

    & i {
      font-size: 2.3rem;
    }
  }

  & .menu-data {
    display: none;
  }

  & .nav-container {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    & .login-container {
      display: flex;
      align-items: center;
      gap: 0.6rem;
      padding: 1rem;
      border-radius: 1rem;
      -webkit-border-radius: 1rem;
      -moz-border-radius: 1rem;
      -ms-border-radius: 1rem;
      -o-border-radius: 1rem;
      transition: 0.5s;
      -webkit-transition: 0.5s;
      -moz-transition: 0.5s;
      -ms-transition: 0.5s;
      -o-transition: 0.5s;

      & i {
        font-size: 1.3rem;
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
      }

      &:hover {
        background: #e6ecf8;

        & i {
          rotate: 180deg;
        }
      }
    }
    & .add-to-cart-container {
      display: flex;
      align-items: center;
      gap: 0.4rem;
      border-radius: 1rem;
      -webkit-border-radius: 1rem;
      -moz-border-radius: 1rem;
      -ms-border-radius: 1rem;
      -o-border-radius: 1rem;
      transition: 0.5s;
      -webkit-transition: 0.5s;
      -moz-transition: 0.5s;
      -ms-transition: 0.5s;
      -o-transition: 0.5s;
      padding: 1rem;

      &:hover {
        background: #e6ecf8;

        & img {
          animation: moving 0.4s linear infinite alternate;
          -webkit-animation: moving 0.4s linear infinite alternate;
        }
      }

      & span {
        font-size: 2rem;
        font-weight: 500;
      }
    }
    & .flipkart-seller-container {
      display: flex;
      align-items: center;
      gap: 0.6rem;
      border-radius: 1rem;
      -webkit-border-radius: 1rem;
      -moz-border-radius: 1rem;
      -ms-border-radius: 1rem;
      -o-border-radius: 1rem;
      transition: 0.5s;
      -webkit-transition: 0.5s;
      -moz-transition: 0.5s;
      -ms-transition: 0.5s;
      -o-transition: 0.5s;
      padding: 1rem;

      &:hover {
        background: #e6ecf8;
      }
    }

    & p {
      font-size: 1.9rem;
      color: #161616;
    }
  }
}

& .search-container {
  background: #e6ecf8;
  flex: 1;
  margin: 0 2%;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  padding: 0.5rem 2rem;
  & i {
    font-size: 2rem;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
  }

  & input {
    width: 100%;
    padding: 0.4rem 0;
    background: #e6ecf8;
    outline: none;
    border: none;
    font-size: 2rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;

    &::placeholder {
      font-size: 1.9rem;
    }
  }
}

.search-responsive-container {
  z-index: 99;
  position: sticky;
  top: 0;
  background: #e6ecf8;
  flex: 1;
  width: 100%;
  display: none;
  align-items: center;
  gap: 1rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  padding: 1.8rem 2rem;

  & i {
    font-size: 2.1rem;
  }

  & input {
    width: 100%;
    padding: 0.4rem 0;
    background: #e6ecf8;
    outline: none;
    border: none;
    font-size: 2rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;

    &::placeholder {
      font-size: 1.9rem;
      font-weight: 400;
    }
  }
}

.login-hover-dropDown {
  z-index: 99;
  position: fixed;
  top: 60px;
  right: 25%;
  background: #fff;
  width: 340px;
  max-height: 0px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  overflow: hidden;
  box-shadow: rgba(61, 61, 61, 0.2) 0px 0px 49px 0px;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  & .sign-up-container {
    margin: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2.1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc;

    & a {
      font-weight: bold;
    }
  }

  & .FacilitiesContainer {
    padding: 0 0 2rem 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;

    & .logos-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 2.2rem;
    }
    & .txt {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 2.2rem;

      & p {
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
        font-size: 1.9rem;
      }

      & p:hover {
        scale: 1.03;
        font-weight: bold;
      }
    }
  }
}

.login-container:hover .login-hover-dropDown {
  max-height: 310px;
}

/***** End Nav Section *****/

/***** Category Section *****/

.Category-container {
  width: 97%;
  background: #ffffff;
  margin: 2rem auto;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  & .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    padding: 2rem;
    margin: 0 auto;

    & .category {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.6rem;
      transition: 0.3s;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -ms-transition: 0.3s;
      -o-transition: 0.3s;
      animation: scale 1s linear infinite alternate;
      -webkit-animation: scale 1s linear infinite alternate;
      &:hover {
        scale: 1.1;
      }

      & p {
        text-align: center;
        font-size: 1.5rem;
        font-weight: 500;
        text-wrap: wrap;
      }
    }
  }
}

/***** End Category Section *****/

/***** Img slder Section *****/

.img-slider {
  width: 97%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;

  & .slider {
    display: flex;
    transition: transform 0.5s ease;

    & img {
      width: 100%;
      height: auto;
      object-fit: cover;
      object-position: center;
    }

    & .prev,
    .next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-color: rgba(0, 0, 0, 0.425);
      color: white;
      border: none;
      cursor: pointer;
      padding: 3rem 1rem;
      font-size: 2.5rem;
      transition: 0.3s;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -ms-transition: 0.3s;
      -o-transition: 0.3s;

      &:hover {
        scale: 1.05;
        background: #ffffff48;
        color: #000;
      }

      &:active {
        scale: 0.9;
        background: #00000048;
        color: #ffffff;
      }
    }

    & .prev {
      left: 0;
    }
    & .next {
      right: 0;
    }
  }
}
/***** End Img slder Section *****/

/***** Offer Section *****/

.offer-Container {
  width: 97%;
  margin: 2rem auto;
  background: #ffffff;
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  & img {
    width: 70%;
    height: auto;
    object-fit: cover;
    object-position: center;
  }
}

/***** End Offer Section *****/

/***** Bestselling Section *****/

.bestselling {
  width: 97%;
  margin: 2rem auto;
  background: #ffffff;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  position: relative;

  & .head {
    padding: 3rem;

    & h2 {
      font-size: 2.8rem;
    }
  }

  & .bestselling-products {
    scroll-behavior: smooth;
    width: 100%;
    display: flex;
    padding: 1rem 0 2rem 3rem;
    justify-content: space-around;
    align-items: center;
    gap: 4rem;
    overflow-x: scroll;
    overflow-y: hidden;

    &::-webkit-scrollbar {
      display: none;
    }

    & img {
      height: 200px;
      transition: 0.3s;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -ms-transition: 0.3s;
      -o-transition: 0.3s;

      &:hover {
        scale: 1.08;
      }
    }
  }
  & .prev,
  .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.637);
    color: white;
    border: none;
    cursor: pointer;
    z-index: 99;
    padding: 3rem 1rem;
    font-size: 2.6rem;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;

    &:hover {
      scale: 1.05;
      background: #0e0e0e69;
      color: #ffffff;
    }

    &:active {
      scale: 0.9;
      background: #ffffff7e;
      color: #000000;
    }
  }

  & .prev {
    left: 0;
  }
  & .next {
    right: 0;
  }
}

/***** End Bestselling Section *****/

/***** Offer Section *****/

.Offers-products {
  width: 97%;
  margin: 2rem auto;
  background: #ffffff;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  position: relative;

  & .head {
    padding: 3rem;

    & h2 {
      font-size: 2.8rem;
    }
  }

  & .offer-products {
    scroll-behavior: smooth;
    width: 100%;
    display: flex;
    padding: 1rem 4rem 2rem 4rem;
    justify-content: space-around;
    align-items: center;
    gap: 4rem;
    overflow-x: scroll;
    overflow-y: hidden;

    &::-webkit-scrollbar {
      display: none;
    }

    & img {
      height: 250px;
      transition: 0.3s;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -ms-transition: 0.3s;
      -o-transition: 0.3s;
      box-shadow: rgb(38, 57, 77) 10px 10px 20px -10px;

      &:hover {
        scale: 1.08;
      }
    }
  }
  & .prev,
  .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.637);
    color: white;
    border: none;
    cursor: pointer;
    z-index: 99;
    padding: 3rem 1rem;
    font-size: 2.6rem;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;

    &:hover {
      scale: 1.05;
      background: #0e0e0e69;
      color: #ffffff;
    }

    &:active {
      scale: 0.9;
      background: #ffffff7e;
      color: #000000;
    }
  }

  & .prev {
    left: 0;
  }
  & .next {
    right: 0;
  }
}

/***** End Offer Section *****/

/***** Animations Section *****/

@keyframes moving {
  0% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
  100% {
    transform: translateX(7px);
    -webkit-transform: translateX(7px);
    -moz-transform: translateX(7px);
    -ms-transform: translateX(7px);
    -o-transform: translateX(7px);
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.03);
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -ms-transform: scale(1.03);
    -o-transform: scale(1.03);
  }
}

@keyframes slider {
  0% {
  }
  100% {
  }
}

/***** End Animations Section *****/

/***** ScrollBar Section *****/

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #161616;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #494949;
}

/***** End ScrollBar Section *****/
